@using web1.Models;
<h1>@ViewData["przywitanie"]</h1>
    @{
        List<Product>listTemp=(List<Product>)ViewData["products"];///konwersa z obiektu na liste stringow
        string baseUrl="http://localhost:5000/Products/GetAllProducts?sortBy=";//link do wyszukiwania zmienna podpieta do th i wyszukiwanie do odpowiedniego elemntu 
        //foreach (Product x in listTemp)
        {
     
     <form action="/Products/GetAllProducts" method="GET">
             <input class="form-control" name="searchP" type="text" placeholder="Search">
            <button class="btn btn-success" type="submit">Search</button>
    </form>

    
    

    
            <table class="table">
            <thead>
                <th><a style="text-decoration: none;"href=@baseUrl"ProductID">ProductID</a></th>
                <th><a href=@baseUrl"ProductName">ProductName</a></th>
                <th><a href=@baseUrl"SupplierID">SupplierID</a></th>
                <th><a href=@baseUrl"CategoryID">CategoryID</a></th>
                 <th><a href=@baseUrl"UnitPrice">UnitPrice</a></th>
                <th><a href=@baseUrl"Discontinued">Discontinued</a></th>
            </thead>
            
            
            @foreach(Product x in listTemp)
            {
                <tr>
                   
                    
                        <td> @x.ProductID</td>
                        <td> @x.ProductName</td>
                        <td> @x.SupplierID</td>
                        <td> @x.CategoryID</td>
                        <td> @x.UnitPrice</td>
                        <td> @x.Discontinued</td>
                        
                    

                </tr>
              }
                
            </table>
        }

    }